<!DOCTYPE html>
<html>
<head>
  <title>Order List</title>
</head>
<body>
  <h1>Order List</h1>
  <ul>
    <% orders.forEach(order => { %>
      <li>
        <strong><%= order.name %></strong>
        <!-- <p>User ID: <%= order.userID %></p> -->
        <p>Order Date: <%= order.orderDate.toDateString() %></p>
        <p>Total Price: $<%= order.totalPrice %></p>
        <p>Order Status: <%= order.orderStatus %></p>
        <p>Shipping Address: <%= order.shippingAddress %></p>
        <p>Delivery Status: <%= order.deliveryStatus %></p>
        <p>Payment Address: <%= order.paymentAddress %></p>
        <a href="/orders/<%= order._id %>/edit">Edit</a>
        <form action="/orders/<%= order._id %>?_method=DELETE" method="POST">
          <button type="submit">Delete</button>
        </form>
      </li>
    <% }); %>
  </ul>
  <a href="/orders/create">Add Order</a>
</body>
</html>
